.test-class {
    background-color: darkslategrey;
    border-radius: 10px;
    padding: 20px;

    font-family: sans-serif;
}

li:first-child {
    color: royalblue;
}

li:nth-child(2){
    color: indianred;
}

li:nth-child(3){
    color: palegoldenrod;
}

.swatch{
    display: inline-block;
    width: 15rem;
    height: 1.5rem;
    position: relative;
}

.swatch code{
    height: 100%;
    position: absolute;
    top: 30%;
}
