$color-text-default: #000000;
$color-background-main: #ffffff;
$color-background-subtle: #e3e1e1;
$color-accent-dark: #202a36;
$color-shadow: rgba(126, 123, 123, 0.8);

$size-header: 65px;
$size-sidebar: 265px;
