$color-text-default: #000000;
$color-background-main: #ffffff;
$color-background-subtle: #e3e1e1;
$color-accent-dark: #29285C;
$color-shadow: rgba(126, 123, 123, 0.8);

$size-header: 5rem;
$size-sidebar: 15rem;
