@import "variables";

%reset {
    @import "reset";
    @import "normalize";
}

%hidden {
    .hidden {
        display: none;
    }
}

#bikesled-header{
    @extend %reset;

    width: 100%;
    height: $size-header;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    background-color: $color-accent-dark;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 16px;

    .bikesled-title{
        font-family: sans-serif;
        color: $color-background-subtle;
    }

    .bikesled-component-menu{
        @extend .bikesled-title;
        text-transform: uppercase;
        cursor: pointer;
        display: inline;
        margin-right: 1em;

        &:hover{
            color: $color-background-main;
        }
    }

    .search{
        display: inline;
    }
}

#bikesled-sidebar{
    @extend %reset;
    @extend %hidden;

    height: 100%;
    max-height: calc( 100% - $size-header );
    overflow-y: auto;
    width: $size-sidebar;

    position: fixed;
    top: $size-header;
    left: -($size-sidebar);

    background-color: lighten( $color-accent-dark, 20 );

    transition: left 0.3s ease;

    &.active{
        left: 0;
    }

    ul{
        padding: 0;
        margin-top: 0;
        list-style-type: none;
        margin-left: 0;

        li{
            font-family: sans-serif;
            color: $color-background-subtle;
            padding: 16px;
            border-bottom: 1px solid $color-background-subtle;
            cursor: pointer;
            margin: 0;

            &:hover{
                background-color: lighten( $color-accent-dark, 25 );
            }

            &.active{
                background-color: lighten( $color-accent-dark, 30 );
            }
        }
    }
}

#bikesled-container{
    @extend %hidden;

    margin-top: $size-header * 1.5;
    padding: 0 18px;

    transition: margin-left 0.3s ease;

    &.active{
        margin-left: $size-sidebar;
    }

    .bikesled-component-wrapper{
        padding-bottom: 30px;
        margin-bottom: 30px;

        border-bottom: dotted lighten( $color-accent-dark, 40 );

        &:last-child{
            border-bottom: none;
        }
    }

    .bikesled-component{
        @extend %reset;

        .expand{
            cursor: pointer;
            transform: translateY( -8% );
            display: inline-block;
            color: $color-accent-dark;
            opacity: 0.75;
            transition: all 0.15s ease;

            &.active{
                transform: rotate( 90deg );
            }

            &:hover{
                opacity: 1;
            }
        }

        ol {
            list-style-type: decimal;
        }

        ul {
            list-style-type: disc;
        }

        ul,
        ol {
            list-style-position: outside;
            margin-left: 20px;

            li{
                margin: 5px;
            }

            ul {
                list-style-type: circle;
                margin-left: 30px;
            }

            ol{
                list-style-type: lower-latin;
                margin-left: 30px;
            }
        }

        pre {
            margin: 16px 0;
        }

        ol,
        ul,
        li,
        p,
        div {
            font-family: "Open Sans", sans-serif;
        }

        > h1,
        > h2,
        > h3,
        > h4
        {
            color: $color-accent-dark;
            margin: 18px 0;
            font-family: "Helvetica", sans-serif;
        }

        > pre {
            box-shadow: 0 1.5px 3px $color-shadow;
            background-color: $color-background-subtle;
            overflow-y: auto;
            padding: 0;
            max-height: 0;

            transition: max-height 0.3s ease;
            transition: padding 0.2s ease;

            &.active{
                padding: 16px;
                max-height: 200vh;
            }

            > code {
                @import "highlight";
                font-size: 18px;
            }
        }

        > hr {
            opacity: 0.5;
            height: 1.5px;
            border: none;
            background-color: $color-shadow;
        }
    }
}
